<header class="p-0-25">
    <nav>
        <a class="logo-wrapper" href="/">
            <img class="logo" src="assets/img/logo/sk_dark_black_logo_transparentBG.svg">
        </a>

        <div (click)="toggleMenu()" class="hamburger-menu">
            <span [class.active]="isActivated" class="line top-bun"></span>
            <span [class.active]="isActivated" class="line patty"></span>
            <span [class.active]="isActivated" class="line bottom-bun"></span>
        </div>

    </nav>
</header>
<div #linksContainer [class.d-flex]="isActivated" [style]="isActivated ? 'overflow-y: hidden' : ''" class="show-menu-links d-none p-0-25">
    <div class="link-wrapper" [class.animated]="linkAnimationActive">
        <a (click)="clickControl('aboutMe')">About me</a>
    </div>
    <div class="link-wrapper" [class.animated]="linkAnimationActive">
        <a (click)="clickControl('skillsSection')">My skills</a>
    </div>
    <div class="link-wrapper" [class.animated]="linkAnimationActive">
        <a (click)="clickControl('portfolioSection')">Portfolio</a>
    </div>
</div>