<header class="padding-custom">
    <nav>
        <a class="logo-wrapper" href="/">
            <img class="logo" src="./assets/img/logo/logo_colored.svg">
        </a>

        <div (click)="toggleMenu()" class="hamburger-menu">
            <img [src]="isActivated ? './assets/img/burgerMenuActivated.svg' : './assets/img/burgerMenu_normal.svg'">
        </div>

    </nav>
</header>
<div #linksContainer [class.d-flex]="isActivated" [style]="isActivated ? 'overflow-y: hidden' : ''"
    class="show-menu-links d-none p-0-25">
    <div class="link-wrapper">
        <a (click)="scrollToSection('aboutMe')">About me</a>
    </div>
    <div class="link-wrapper">
        <a (click)="scrollToSection('skillsSection')">My skills</a>
    </div>
    <div class="link-wrapper">
        <a (click)="scrollToSection('portfolioSection')">Portfolio</a>
    </div>

    <div class="navigation-footer">
        <div class="footer-content bg-transparent margin-custom">
            <h1 class="bg-transparent">Say Hi!</h1>
            <div class="links-to-contact bg-transparent">
                <div class="mail bg-transparent">
                    <a href="mailto:karlinselina@gmail.com" class="bg-transparent">karlinselina@gmail.com</a>
                </div>
                <div class="socials bg-transparent">
                    <a class="bg-transparent" href="https://github.com/milakauz">
                        <img class="bg-transparent" src="./assets/img/socials/github-white.svg">
                    </a>
                    <a class="bg-transparent" href="mailto:karlinselina@gmail.com">
                        <img class="bg-transparent" src="./assets/img/socials/email-white.svg" alt="">
                    </a>
                    <a class="bg-transparent" href="https://www.linkedin.com/in/selinakarlin/">
                        <img class="bg-transparent" src="./assets/img/socials/linkedIn.png" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>