$menu-height: 1.3rem;
$menu-gap: 0.2rem;
$menu-line-height: 0.13rem;

header {
    height: 64px;
    z-index: 1;
    font-family: 'Syne';
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(240, 219, 199, 1);
}

body {
    &.no-scroll {
        overflow: hidden;
        max-height: 100vh;
    }
}

nav {
    justify-content: space-between;

    img {
        height: 32px;
        cursor: pointer;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: $menu-gap;
        height: $menu-height;
        z-index: 3;

        &:hover {
            cursor: pointer;
        }
    }

}

.language-links {
    &:hover {
        color: #00bc8f;
        font-weight: bold;
    }
}

.show-menu-links {
    font-family: Syne !important;
    gap: 3.5rem;
    position: fixed;
    z-index: 888;
    top: 0;
    left: 0;
    right: 0;
    height: 80vh;
    bottom: 0;

    .link-wrapper {

        a {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            z-index: 5;
            text-align: center;
            color: black;
            font-size: 2.5em;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 0.78px;
        }
    }
}

.navigation-footer {
    height: 250px;
    background-size: 100% auto;
    background-image: url('/assets/background_footer.png');
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    bottom: 0;
    align-items: normal;
    justify-content: flex-end;

    h1 {
        color: rgba(240, 219, 199, 1);
        margin-block-end: 0;
    }

    .links-to-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            color: rgba(240, 219, 199, 1);

            &:hover {
                color: #00bc8f;
            }
        }

        .mail {
            display: flex;
            align-items: end;
        }

        .socials {
            justify-content: space-evenly;
            align-items: end;
            width: 160px;
            padding-top: 19px;

            a {
                transition: transform 250ms ease-out;

                &:hover {
                    transform: translateY(-10px);
                }
            }
        }
    }
}


@media only screen and (min-width: 768px) and (min-width: 999px) {
    .socials {
        width: 300px;
    }
}

// for E-Readers 
@media screen and (min-width: 799px) and (min-height: 1200px) {
    .navigation-footer {
        height: 300px;
    }
}