<header class="m-0-25">
<nav >
        <div class="logo-wrapper">
            <img class="logo" src="./../../favicon.ico" alt="Logo für Test">
        </div>

        <div (click)="toggleMenu()" class="hamburger-menu">
            <span [class.active]="isActivated" class="line top-bun"></span>
            <span [class.active]="isActivated" class="line patty"></span>
            <span [class.active]="isActivated" class="line bottom-bun"></span>
        </div>

        <div [class.d-flex]="isActivated" class="show-menu-links d-none p-0-25">
            <div class="link-wrapper">
                <a href="">About me</a>
            </div>
            <div class="link-wrapper">
                <a href="">My skills</a>
            </div>
            <div class="link-wrapper">
                <a href="">Portfolio</a>
            </div>
        </div>
    </nav>
</header>