<footer [ngClass]="{'footer-absolute': onPageLegalNotice}"> 
    
    <a href="#atf" class="scroll-wrapper">
        <img src="/assets/img/arrows/scroll2top.png">
    </a>

    <div class="socials-wrapper">
        <a *ngFor="let item of socialMediaList"
            [href]="item.name !== 'mail' ? item.url : 'mailto:karlinselina@gmail.com'"
            [attr.target]="item.name !== 'mail' ? '_blank' : null">
            <img src="{{item.imgSource}}" alt="">
        </a>
    </div>

    <a class="logo-wrapper" href="/">
        <img style="height: 64px;" src="/../../favicon.ico" alt="">
    </a>

    <div class="copyright-wrapper">
        &#169; Selina Karlin 2023
    </div>

    <div class="mail-wrapper">
        <a href="mailto:karlinselina@gmail.com" target="_blank">karlinselina@gmail.com</a>
    </div>
    <div class="legal-link">
        <a class="animate-link" routerLink="/legal-notice">Legal notice</a>
    </div>
</footer>