footer {
    background-color: black;
    height: 250px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    display: flex;
    margin-top: -4px;
    // flex-direction: row;
    // // align-items: center;
    // justify-content: space-evenly;
    padding-top: 32px;
    padding-bottom: 32px;

}
.footer-absolute{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.copyright-wrapper,
.scroll-wrapper {
    display: none;
}

.socials-wrapper {
    display: flex;
    gap: 32px;

    a {
        display: flex;
        align-items: center;
    }
}

.mail-wrapper {
    a {
        color: white;
        font-size: 24px;
    }
}

.legal-link {
    position: relative;
    text-decoration: none;

    .animate-link {
        color: white;
        font-size: 16px;

        &::after {
            content: '';
            position: absolute;
            left: 25%;
            // left: 0; 
            bottom: -3px;
            width: 30%;
            height: 5px;
            background-color: #00bc8f;
            transform: translateX(-100%);
            transition: transform 0.8s ease-in-out;

        }

        &:hover::after {
            background-color: #00bc8f;
            // transform: translateX(0);
            right: 50%;
        }
    }
}

@media only screen and (min-width: 1000px) {

    footer {
        max-height: 155px;
        padding-right: 160px;
        padding-left: 160px;
        align-items: end;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 32px;
        gap: 0;

        .scroll-wrapper {
            position: absolute;
            top: 0;
            right: 140px;
            display: block;

            img {
                padding-top: 15px;
                cursor: pointer;
                transition: transform 1s ease;
                transform-origin: bottom;

                &:hover {
                    cursor: pointer;
                    transform: translateY(-20px) scaleY(1.2);
                }
            }
        }

        .logo-wrapper {
            display: flex;
            justify-content: flex-start;
            grid-column: 1;
            grid-row: 1;
        }

        .copyright-wrapper {
            display: block;
            color: beige;
            grid-column: 1;
            grid-row: 2;

        }

        .socials-wrapper {
            grid-column: 2;
            grid-row: 1;
            justify-content: flex-end;
            padding-top: 20px;

            a {
                transition: transform 250ms ease-out;

                &:hover {
                    transform: translateY(-20px);
                }
            }
        }

        .legal-link {
            grid-column: 2;
            grid-row: 2;
            display: flex;
            justify-content: flex-end;

            .animate-link {

                &::after {
                    background-color: transparent;
                    transition: transform 0.8s ease-in-out;
                    transform: translateX(200%);
                }

                &:hover::after {
                    background-color: #00bc8f;
                    transform: translateX(300%);
                }
            }

        }

        .mail-wrapper {
            display: none;
        }
    }

}

@media only screen and (min-width: 1400px) {

    footer {
        padding-right: 320px;
        padding-left: 320px;

        .scroll-wrapper {
            right: 310px;
        }

        .mail-wrapper {
            display: none;
        }
    }

}


@media only screen and (min-width: 1750px) {

    footer {
        padding-right: 380px;
        padding-left: 380px;

        .scroll-wrapper {
            right: 370px;
        }
    }
}