<div id="aboutMe" class="about-me m-0-25">
    <h1 class="font-stretch">About me</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi vero, cupiditate aspernatur commodi quidem
        doloremque earum. Quas tempore voluptatem, nihil magnam vitae deserunt. Asperiores facilis nisi voluptas,
        excepturi repudiandae deleniti.
    </p>
    <br>
    <p>
        Mittlerweile geht's sogar schneller!
    </p>
    <div class="photo">
        <span>hier Foto!</span>
    </div>
    <img class="arrow-animated" data-aos="fade-down-left" data-aos-duration="1000"
        src="./../../assets/img/arrows/arrow_left_down_mobile.png" alt="arrow">
</div>