<div class="about-me margin-custom">
    <div class="about-text">
        <h1 class="font-stretch">About me</h1>
        <p>Hello everyone! I'm Selina, a frontend developer from Freiburg, Germany. I bring my creativity to every
            project and enjoy the process of turning ideas into reality.
            My technical and debugging mindset allows me to create seamless, intuitive web experiences. <br>
            My projects have focused on Angular web apps, but due to my strong javascript background I am open to
            working with other frameworks such as vue.js or react.

        </p>
        <br>
        <p>
            If this sounds like what you're looking for, I'd love to hear from you!
        </p>
    </div>
    <div class="about-photo">
        <img src="/assets/img/personalPic/27.png">
        <div class="frame-photo bg-transparent" data-aos-duration="1500" data-aos="fade-down-left"></div>
    </div>
    <div class="about-arrow bg-transparent">
        <img class="arrow-animated bg-transparent" data-aos="fade-down-left" data-aos-duration="1000"
            src="./assets/img/arrows/arrow_left_down_mobile.png" alt="arrow">
    </div>
</div>