<div class="about-me margin-custom d-flex flex-column align-center pos-relative">
    <div id="aboutMe" class="about-text d-flex flex-column">
        <h1 translate class="font-stretch">About me</h1>
        <p translate> 
            Hello everyone! I'm Selina, a front-end developer from Freiburg im Breisgau, Germany. I enjoy the process of bringing ideas to life 
            and applying my creativity to projects. 
            I use my troubleshooting and technical skills to design seamless and intuitive web experiences.
            My projects have so far focused on Angular web applications, but due to my strong Javascript 
            background I am open to working with other frameworks such as vue.js or react.
        </p>
        <br>
        <p translate>
            If this sounds like what you're looking for, I'd love to hear from you!
        </p>
        <button class="quick-talk" style="align-self: center">
            <a (click)="scrollToSection('contactMe')"><span >Let's talk</span> :&#41;</a>
        </button>
    </div>
    <div class="about-photo d-flex pos-relative">
        <div class="image img-border"><img src="./assets/img/new_2.png"></div>
    </div>
    <div class="about-arrow bg-transparent">
        <img class="arrow-animated bg-transparent" data-aos="fade-down-left" data-aos-duration="700"
            src="./assets/img/arrows/arrow_left_down_mobile.png" alt="arrow">
    </div>
</div>