.atf-content {
    padding-top: 80px;
    height: 480px;
    position: relative;
    overflow-y: hidden !important;
    font-family: Overpass;


    h1 {
        font-stretch: expanded;
        text-align: center;
        font-weight: 800;
    }

    .divider {
        height: 2px;
        width: 8rem;
        background-color: black;
    }

    .headline-content {
        flex-direction: column;
        // justify-content: start;
    }

    button {
        margin-top: 32px;
        height: 60px;
        font-size: 1.2em;
        font-family: Overpass;
        border: 4px solid #000000;
        width: 200px;
        transition-duration: 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            font-weight: bold;
        }
    }

    .mail {
        transform: rotate(-90deg);
        position: absolute;
        left: -60px;
        bottom: 80px;
    }

    .arrow-scroll-animation {
        height: 11rem;
        border: 1px solid black;
        width: 2rem;
        animation: moveDown 4s ease;
        background-image: url('./../../assets/img/arrows/3.png');
        background-repeat: no-repeat;
        background-position: -20px;
        object-fit: cover;
        background-size: auto;
        @keyframes moveDown {

        }

    }

    .scroll-down {
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;
    }


}