<div class="atf-content margin-custom">
    <div class="headline-content d-flex w-100 align-center justify-center">
        <h1>Frontend
            <br>Developer
        </h1>
        <div class="subheader d-flex align-center">
            <span class="divider"></span>
            <span class="green bold">Selina Karlin</span>
        </div>
        <button>
            <a href="#contactForm">Send a message</a>
        </button>
    </div>

    <div class="atf-bottom">
            <a href="mailto:karlinselina@gmail.com" class="mail">karlinselina&#64;gmail.com</a>

        <div class="scroll-down">
            <div class="arrow-scroll-animation"><img class="animate" src="./assets/img/arrows/2.png"></div>
            <div class="imperative" style="z-index: 1;">Scroll <br>Down</div>
        </div>
    </div>
</div>