<div id="atf" class="atf-content pos-relative margin-custom">
  <div class="headline-content d-flex w-100 align-center justify-center">
    <h1 text-center>Frontend <br />Developer</h1>
    <div class="subheader d-flex align-center">
      <span class="divider"></span>
      <span class="pink bold">Selina Karlin</span>
    </div>
    <button class="quick-talk">
      <a href="#contactMe" translate>Send a message</a>
    </button>
  </div>

    <a href="mailto:karlinselina@gmail.com" class="mail"
      >hello&#64;selinakarlin.de</a
    >

    <div
      class="scroll-down d-flex flex-column align-center"
      (click)="scrollToSection('aboutMe')"
    >
      <div class="arrow-scroll-animation">
        <img class="animate" src="./assets/img/arrows/2.png" />
      </div>
      <div class="imperative" style="z-index: 1">Scroll <br />Down</div>
    </div>
</div>
