$green: #00BC8F;
$beige: rgba(255, 252, 243);
$black: #000000;
$red: #BC002D;

.contact-form {
    background-image: url("^assets/background_footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cutom-background {
    background-color: $black;
}

h1 {
    margin-top: 80px;
    color: $beige;
    position: absolute;
    left: 25px;
    animation: colorChange 4s infinite ease-in-out;

    @keyframes colorChange {
        0% {
            color: $beige;
        }

        100% {
            color: $green;
        }
    }
}

.text-center {
    text-align: center;
}

.form-content {
    margin-top: 160px;
    flex-direction: column;
    gap: 24px;
}

span {
    color: $beige;
    background-color: $black;
    text-align: center;
}

small {
    color: $red;
    padding-top: 4%;
    background-color: black;
}

form {
    color: $beige;
    padding-bottom: 80px;
    gap: 32px;
    display: contents;

    .form-element {
        flex-direction: column;
        position: relative;
        padding-top: 3%;


        &:focus-within ::placeholder {
            position: absolute;

            top: -8px;
            font-weight: bold;
            z-index: 999;
        }

        ::placeholder {
            font-family: Overpass;
            color: white;
            font-size: 16px;
            position: absolute;
            left: 8px;
        }

        input {
            color: $beige;
            height: 0%;
            padding: 4%;
            border-bottom: 2px solid $beige;
            border-top: none;
            border-right: none;
            border-left: none;

            &.error {
                border: 2px solid $red;
            }

            &:focus {
                border: 2px solid $beige;
                outline: none;
                height: 32px;
            }

            &:disabled {
                border-bottom: 2px solid rgba(255, 252, 243, 0.2);

                &::placeholder {
                    color: rgba(255, 252, 243, 0.2);
                }
            }

        }

        textarea {
            height: 20px;
            color: $beige;
            outline: none;
            border: none;
            border-bottom: 2px solid $beige;
            padding: 4%;
            resize: none;

            &:focus {
                height: 200px;
                border: 2px solid beige;
            }

            &.error {
                border: 2px solid $red;
            }

            &:disabled {
                border-bottom: 2px solid rgba(255, 252, 243, 0.2);

                &::placeholder {
                    color: rgba(255, 252, 243, 0.2);
                }
            }
        }
    }

}

.privacy-container {
    margin-top: 16px;
    background-color: $black;
    color: $beige;
    gap: 8px;
    flex-direction: row-reverse;

    img {
        &:hover {
            cursor: pointer;
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    a {
        background-color: #000000;
        color: #00BC8F;

        &:hover {
            font-weight: bold;
        }
    }

}

.form-button {
    background-color: #000000;
    padding-top: 24px;
    position: relative;

    button {
        background: transparent;
        height: 48px;
        width: 250px;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 60px;
        border: none;
        outline: none;
        border-radius: 10px;
        color: $beige;
        outline: none;
        letter-spacing: 1px;

        &:after {
            content: '';
            width: 20px;
            height: 20px;
            background-color: #00BC8F;
            border-radius: 50%;
            opacity: 0;

        }

        @keyframes bounce {
            from {
                transform: translateY(0);
                opacity: 0.6;
            }

            to {
                transform: translateY(-10px);
                opacity: 1;
            }
        }

        &.loading {
            width: 60px;
            border-radius: 50%;
            animation: bounce 0.25s infinite alternate;

            &:after {
                opacity: 1;
            }
        }

        &.finished {
            background-color: #00BC8F;
            width: 120px;
            border-radius: 10px;
            color: $beige;

            &:before {
                font-size: 24px;
                content: "✓";
                opacity: 1;
                transform: translateY(0px);
                animation: dropDown 0.3s 1 cubic-bezier(0.64, 0.57, 0.67, 3);
            }

            &:after {
                display: none;
            }

            &:hover {
                cursor: not-allowed;
            }
        }
    }

    @keyframes dropDown {
        0% {
            transform: translateY(-15px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.message-confirm {
    color: beige;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {

    h1 {
        position: absolute;
        left: 80px;
    }

    .form-content {
        margin-top: 160px;
        width: 64%;
    }

}

@media only screen and (min-width: 1000px) {
    h1 {
        left: 160px;
    }

    .contact-form {
        padding-bottom: 4px !important;
    }
}

@media only screen and (min-width: 1400px) {
    h1 {
        left: 320px;
    }

    .contact-form {
        margin-top: 220px;
    }
}