// @import url(./../../styles.scss); // geht nicht
$green: #00BC8F;
// $beige: rgba(240, 219, 199, 1);
$beige: rgba(255, 252, 243);
$black: #000000;
$red: #BC002D;

.contact-form {
    background-image: url("^assets/background_footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cutom-background {
    background-color: $black;
}

h1 {
    margin-top: 80px;
    color: $beige;
    position: absolute;
    left: 25px;
    // background-color: $black;
    // max-width: fit-content;
    animation: colorChange 4s infinite ease-in-out;

    @keyframes colorChange {
        0% {
            color: $beige;
        }

        100% {
            color: $green;
        }
    }
}

.text-center {
    text-align: center;
}

.form-content {
    margin-top: 160px;
    flex-direction: column;
    gap: 24px;
}

span {
    color: $beige;
    background-color: $black;
    text-align: center;
}

small {
    color: $red;
    padding-top: 4%;
    background-color: black;
}

form {
    color: $beige;
    padding-bottom: 80px;
    gap: 32px;
    display: contents;

    .form-element {
        flex-direction: column;
        position: relative;
        padding-top: 3%;


        &:focus-within label {
            top: 0;
            font-weight: bold;
        }

        label {
            position: absolute;
            left: 8px;
        }

        input {
            color: $beige;
            height: 0%;
            // width: 90%;
            padding: 4%;
            border-bottom: 2px solid $beige;
            border-top: none;
            border-right: none;
            border-left: none;


            &.error {
                border: 2px solid $red;
            }

            &:focus {
                border: 2px solid $beige;
                outline: none;
                height: 32px;
            }

        }

        textarea {
            height: 20px;
            color: $beige;
            outline: none;
            border: none;
            border-bottom: 2px solid $beige;
            padding: 4%;
            resize: none;

            &:focus {
                height: 200px;
                border: 2px solid beige;
            }

            &.error {
                border: 2px solid $red;
            }
        }
    }

}

.privacy-container {
    margin-top: 16px;
    background-color: $black;
    color: $beige;
    align-items: flex-start;
    gap: 8px;
    flex-direction: row-reverse;
    cursor: pointer;

    input[type="checkbox"] {
        display: grid;
        place-content: center;
    }

    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #00BC8F;
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1.2);
    }

    &:hover a {
        font-weight: bold;

        input {
            background-color: #00BC8F;
        }

    }

    a {
        background-color: #000000;
        color: #00BC8F;
        transition: transform 3s; //klappt nicht

        &:hover {
            font-weight: bold;
            transform: scale(1.2);
        }
    }

}

.form-button {
    background-color: $black;
    padding-top: 24px;

    button {
        padding: 8px 16px;
        border: 2px solid rgba(187, 187, 187, 1);
        color: rgba(187, 187, 187, 1);

        &:enabled {
            border-color: $beige;
            color: $beige;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {

    h1 {
        position: absolute;
        left: 80px;
    }

    // .contact-form {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     position: relative;
    // }

    .form-content {
        margin-top: 160px;
        width: 64%;
    }

}

@media only screen and (min-width: 1000px) {
    h1 {
        left: 160px;
    }

    .contact-form {
        padding-bottom: 4px !important;
    }
}

@media only screen and (min-width: 1400px) {
    h1 {
        left: 320px;
    }

    .contact-form {
        margin-top: 220px;
    }
}