<div id="contactMe" class="padding-custom contact-form d-flex justify-center">
    <h1 translate class="cutom-background">Say hi!</h1>
    <div class="cutom-background d-flex form-content">
        <h6 translate class="cutom-background text-center">Want to discuss a new project?</h6>
        <span translate class="cutom-background text-center">Say hello! Let's discuss your ideas and make it happen.</span>

        <form [formGroup]="contactForm" #myForm (submit)="sendMail()" class="cutom-background">

            <div class="form-element cutom-background d-flex justify-center">
                <input class="cutom-background" #nameInput id="name" type="text" formControlName="name"
                    placeholder="Your name" [class.error]="isFieldValid('name') || nameError" required>
                <small translate class="text-error" *ngIf="nameError">
                    Please enter your name.
                </small>
            </div>

            <div class="form-element cutom-background d-flex justify-center">
                <input class="cutom-background" #emailInput id="email" type="email" formControlName="email"
                    placeholder="Your email" [class.error]="isFieldValid('email') || emailError" required>
                <small class="text-error" *ngIf="emailError">
                    Please enter your email.
                </small>
            </div>

            <div class="form-element cutom-background d-flex justify-center">
                <textarea class="cutom-background message-input" #messageInput id="message" type="text"
                    placeholder="Your message" formControlName="message" [disabled]="messageSucceed"
                    [class.error]="isFieldValid('message') || messageError" cols="30" rows="20" required></textarea>
                <small class="text-error" *ngIf="messageError">
                    Please enter a small message.
                </small>
            </div>

            <label for="privacyPolicy" class="privacy-container d-flex">
                <span translate>I've read the
                    <a translate routerLink="/privacy-policy" class="privacy">privacy policy</a>
                    and agree to the processing of my data as outlined.
                </span>
                <img [src]="contactForm.get('privacyPolicy')?.value ? '/assets/img/checked_box.svg' : '/assets/img/unchecked_box.svg'" 
                (click)="toggleCheckboxPolicy()" class="bg-transparent" [ngClass]="{'d-none': messageSucceed}">
                <input #privacyPolicy type="checkbox" formControlName="privacyPolicy" required>
            </label>
            <small class="text-error" *ngIf="checkBoxError">
                Please accept the privacy policy.
            </small>

            <div class="form-button d-flex justify-center align-center">
                <button type="submit" #sendButton>
                    <ng-container *ngIf="!sendingAnimation && !messageSucceed"><span translate>Send message</span> :&#41;</ng-container>
                </button>
            </div>
        </form>
    </div>
</div>