<div id="skillsSection" class="headline-skills bg-transparent">
    <h1 translate>My skills</h1>
</div>
<div class="skills-container margin-custom">
    <div class="skills-wrap">
        <div *ngFor="let skill of skillsList" class="skill-item d-flex align-center">
            <img src="{{ skill.imgSource }}">
            <span>{{ skill.name }}</span>
        </div>
    </div>
</div>
<div class="skills-arrow margin-custom">
    <img id="arrowImg" data-aos="fade-down-right" data-aos-duration="700" class="arrow-animated bg-transparent"
     src="./assets/img/arrows/arrow_right_mobile_1.png">
</div>