.legal-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}

p {
    text-align: center;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}