/* You can add global styles to this file, and also import other style files */
@import url(./fonts.scss);
$green: #00BC8F;
$beige: rgba(240, 219, 199, 1);
$black: #000000;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0 auto;
}

* {
    // font-family: 'Syne';
    overflow-x: hidden;
    background-color: $beige;
    scroll-behavior: smooth;
    font-family: Overpass;
}

h1 {
    font-family: 'Syne';
    font-size: 32px;

    &:hover {
        color: $green;
    }
}

h3 {
    font-size: 24px;
    font-family: 'Syne';
}

h4 {
    font-family: 'Syne';
}

h6 {
    font-size: 18px;
    font-family: Overpass;
    color: $green;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

p {
    font-size: 16px;
    font-family: Overpass;
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

button {
    font-family: Overpass;

    &:hover {
        cursor: pointer;
    }
}

.bg-transparent{
    background: transparent;
}

.padding-custom {
    padding: 0 25px;
}

.margin-custom {
    margin: 0 25px;
}

.arrow-animated {
    background: transparent;

}

.flex-column {
    flex-direction: column;
}

.green {
    color: $green;
    font-weight: bold;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.font-stretch {
    font-stretch: ultra-expanded;
}

@media only screen and (min-width: 768px) {

    .padding-custom {
        padding: 16px 80px;
    }

    .margin-custom {
        margin: 0 80px;
    }

}

@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 50px;
    }


    h3 {
        font-size: 32px;
    }

    h6 {
        font-size: 24px;
    }

    p,
    button,
    span {
        font-size: 18px;
    }

    .padding-custom {
        padding: 32px 160px;
    }

    .margin-custom {
        margin: 0 160px;
    }
}

@media only screen and (min-width: 1400px) {

    h1 {
        font-size: 80px;
        margin-block-start: 0.16em;
    }

    h3 {
        font-size: 48px;
    }

    h6 {
        font-size: 32px;
    }

    .padding-custom {
        padding: 48px 320px;
    }

    .margin-custom {
        margin: 0 320px;
    }
}

@media only screen and (min-width: 1750px) {
    .padding-custom {
        padding: 56px 380px;
    }

    .margin-custom {
        margin: 0 380px;
    }
    p,
    button,
    span {
        font-size: 24px;
    }
}